body {
  width: 100vw;
  height: 100vh;
}

.circle {
  position: absolute;
  top: 1px;
  width: 50px;
  height: 50px;
  /* color: transparent; */
  /* color: #984feb; */
  border: 2px solid #e089eb;
  border-radius: 50%;
}

.new-circle {
  height: 500px;
  width: 800px;
  border: 2px solid #000000;
  background-color: #984feb;
  display: flex;
  flex-wrap: wrap;
}

.in-circle {
  /* color:#984feb; */
  /* border: 2px solid #FFFFFF;
  background-color: #f907cb; */
/* have to put lines 28 and 29 in js */
  border-radius: 50%;
  top: 1px;
  width: 50px;
  height: 50px;
}
